@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

html {
    font-size: 16px;
}

html,
body {
    width: 100%;
    height: auto;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: 0;
}

header,
main,
footer,
nav,
section,
article,
aside {
    display: block;
}

body {
    /* background: #000; */
}

h1 {
    padding: 1rem;
    /* font-family: 'Source Code Pro', monospace; */
    font-weight: 500;
    color: #202020;
    /* -webkit-text-stroke: 1px rgb(128, 215, 255); */
    font-size: 1rem;
}

ul {
    padding: 1rem;
}

li {
    padding: 1rem;
}

li:hover a {
    color: darkcyan;
}