section article#intro_0 h1 {
  margin-top: 80px;
  font-size: 30px;
}
section article#intro_0 .flexRight {
  margin-top: 140px;
  display: flex;
  justify-content: right;
}
section article#intro_0 .flexRight img.intro_img {
  width: 70%;
  height: auto;
}
section article#intro_1 {
  margin-top: 40px;
}
section article#intro_1 .accordion {
  cursor: pointer;
}
section article#intro_1 .accordion:first-child {
  margin-bottom: 40px;
}
section article#intro_1 .accordion .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section article#intro_1 .accordion .title p {
  font-size: 14px;
}
section article#intro_1 .accordion .title p strong {
  font-weight: 500;
  color: #e85c65;
}
section article#intro_1 .accordion .title span img {
  transition: all 0.2s;
  width: 14px;
}
section article#intro_1 .accordion.active .title span img {
  transform: rotate(90deg);
}
section article#intro_1 .accordion .panel {
  margin-top: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f5f5f5;
}
section article#intro_1 .accordion .panel .paddingBox {
  width: 100%;
  padding: 18px 16px;
  box-sizing: border-box;
}
section article#intro_1 .accordion .panel .paddingBox h3 {
  font-size: 14px;
  font-weight: bold;
  color: #202020;
}
section article#intro_1 .accordion .panel .paddingBox span.line {
  display: block;
  margin: 9.5px 0;
  width: 100%;
  height: 1px;
  background-color: #d6d6d6;
}
section article#intro_1 .accordion .panel .paddingBox p {
  margin-bottom: 5px;
  font-size: 12px;
}
section article#intro_1 .accordion .panel .paddingBox small {
  display: block;
  font-size: 10px;
  color: #b2b2b2;
  margin: 10px 0;
}
section article#intro_1 .accordion .panel .paddingBox img {
  width: 100%;
  height: auto;
}
section article#intro_1 .accordion .panel .paddingBox p.center {
  font-size: 10px;
  text-align: center;
  margin-top: 1rem;
}
section article#intro_1 .accordion .panel .paddingBox.second p {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: -0.84px;
}
section article#intro_1 button {
  width: 100%;
  height: 50px;
  background-color: #296dea;
  border: none;
  box-shadow: none;
  outline: none;
  line-height: 3.13;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 50px;
  cursor: pointer;
  margin-bottom: 40px;
  letter-spacing: -1.12px;
  color: white;
}