article p.title {
  font-size: 12px;
  letter-spacing: -0.84px;
  text-align: left;
  color: #202020;
  margin-bottom: 4px;
}
article .imgBox {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
article .imgBox span {
  font-size: 10px;
  letter-spacing: -0.7px;
  color: #bcbcbc;
  margin-bottom: 10px;
}
article .imgBox img {
  width: 205px;
  height: auto;
}
article button {
  width: 100%;
  outline: none;
  border: 1px solid #f5f5f5;
  padding: 15px 0;
  font-size: 1rem;
  cursor: pointer;
}
article button.black {
  margin-top: 14px;
  background-color: #202020;
  color: white;
}
article button.blue {
  margin: 16px 0 40px 0;
  background-color: #296dea;
  color: white;
}