.accordion {
  margin: 10px 0;
}
.accordion .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.accordion .title .left {
  display: flex;
  align-items: center;
}
.accordion .title .left p {
  font-size: 12px;
  margin-left: 5px;
}
.accordion .title span {
  padding-left: 10px;
  cursor: pointer;
}
.accordion .title span img {
  transition: all 0.2s;
  width: 12px;
}
.accordion.active .title span img {
  transform: rotate(90deg);
}
.accordion.active .panel {
  overflow-y: scroll;
}
.accordion.active .panel .paddingBox {
  padding: 18px 16px;
  box-sizing: border-box;
}
.accordion.active .panel::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.accordion.active .panel::-webkit-scrollbar-track {
  background-color: #fff;
  border: 1px solid #e2e2e2;
}
.accordion.active .panel::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border: 1px solid #e2e2e2;
}
.accordion .panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f5f5f5;
  padding: 0 10px;
  box-sizing: border-box;
}
.accordion .panel pre {
  width: 100%;
  box-sizing: border-box;
  white-space: pre-line;
  font-size: 12px;
}
.accordion .checkBoxRow {
  padding-left: 30px;
}
.accordion .checkBoxRow .checkBoxDiv {
  margin-right: 15px;
}
.accordion .checkBoxRow .checkBoxDiv label {
  font-size: 12px;
}

article#terms .checkAll {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
article#terms .checkAll p {
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 1px;
}
article#terms .panel.marketing .paddingBox pre {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.84px;
  color: #7d7d7d;
}
article#terms .panel.marketing .paddingBox img {
  width: 100%;
  margin-top: 18px;
}

article#verify {
  margin-top: 40px;
}
article#verify p {
  font-size: 0.8rem;
  display: inline;
  position: relative;
}
article#verify p:nth-child(1)::after {
  content: "*";
  position: absolute;
  top: 0;
  right: -5px;
  display: block;
}
article#verify .flexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 40px;
  position: relative;
}
article#verify .flexRow input {
  width: 30%;
  outline: none;
  border: 1px solid #e2e2e2;
  padding: 12px 0;
  text-indent: 10px;
  color: #bbb;
  font-size: 12px;
}
article#verify .flexRow input:disabled {
  background-color: #e2e2e2;
}
article#verify .flexRow input#verificationCode {
  width: 70%;
}
article#verify .flexRow span {
  color: #bbb;
  font-size: 12px;
  text-align: center;
}
article#verify .flexRow select {
  width: 112px;
  outline: none;
  border: 1px solid #e2e2e2;
  padding: 10px 0;
  text-indent: 10px;
  color: #bbb;
}
article#verify .flexRow button {
  width: 30%;
  outline: none;
  border: 1px solid #e2e2e2;
  padding: 12px 0;
  background-color: #f2f2f2;
  color: #bbb;
  font-size: 12px;
  letter-spacing: -0.84px;
  cursor: pointer;
}
article#verify .flexRow span.errMsg {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.84px;
  color: #f31616;
  position: absolute;
  bottom: -20px;
  left: 4px;
}
article#verify .flexRow span.succMsg {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.84px;
  color: #0000ff;
  position: absolute;
  bottom: -20px;
  left: 4px;
}
article#verify .bottomBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0 40px 0;
}
article#verify .bottomBtn button {
  width: 49%;
  outline: none;
  border: none;
  padding: 15px 0;
  font-size: 1rem;
  cursor: pointer;
  background-color: #f2f2f2;
  letter-spacing: -1.12px;
  font-weight: 500;
}
article#verify .bottomBtn button.gray {
  color: #afafaf;
}
article#verify .bottomBtn button.blue {
  background-color: #296dea;
  color: white;
}