.accordion {
  margin: 10px 0;
}
.accordion .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.accordion .title .left {
  display: flex;
  align-items: center;
}
.accordion .title .left p {
  font-size: 12px;
  margin-left: 5px;
}
.accordion .title span {
  padding-left: 10px;
  cursor: pointer;
}
.accordion .title span img {
  transition: all 0.2s;
  width: 12px;
}
.accordion.active .title span img {
  transform: rotate(90deg);
}
.accordion.active .panel {
  overflow-y: scroll;
}
.accordion.active .panel .paddingBox {
  padding: 18px 16px;
  box-sizing: border-box;
}
.accordion.active .panel::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.accordion.active .panel::-webkit-scrollbar-track {
  background-color: #fff;
  border: 1px solid #e2e2e2;
}
.accordion.active .panel::-webkit-scrollbar-thumb {
  background-color: #f2f2f2;
  border: 1px solid #e2e2e2;
}
.accordion .panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f5f5f5;
  padding: 0 10px;
  box-sizing: border-box;
}
.accordion .panel pre {
  width: 100%;
  box-sizing: border-box;
  white-space: pre-line;
  font-size: 12px;
}
.accordion .checkBoxRow {
  padding-left: 30px;
}
.accordion .checkBoxRow .checkBoxDiv {
  margin-right: 15px;
}
.accordion .checkBoxRow .checkBoxDiv label {
  font-size: 12px;
}

article#regPayment p.title {
  font-size: 12px;
  color: #202020;
  margin-bottom: 12px;
}
article#regPayment .textBox {
  margin-bottom: 40px;
  padding: 16px 14px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: 1px solid #e2e2e2;
}
article#regPayment .textBox pre {
  font-size: 12px;
  line-height: 1.67;
  color: #808080;
  margin-bottom: 16px;
  white-space: pre-line;
}
article#regPayment .textBox pre:last-child {
  margin-bottom: 0;
}
article#regPayment .ticketDiv {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 0px 40px 0 40px;
  overflow: hidden;
  background-color: #f2f2f2;
}
article#regPayment .ticketDiv .top {
  background-color: #212121;
  padding: 9px 0px 12px 20px;
  box-sizing: border-box;
}
article#regPayment .ticketDiv .top p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.98px;
  text-align: left;
  color: #fff;
}
article#regPayment .ticketDiv .row {
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  display: flex;
}
article#regPayment .ticketDiv .row:last-child {
  border-radius: 0px 0px 0px 40px;
  border-bottom: 1px solid #e2e2e2;
}
article#regPayment .ticketDiv .row .left {
  width: 33%;
}
article#regPayment .ticketDiv .row .left p {
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.6px;
  text-align: left;
  color: #212121;
}
article#regPayment .ticketDiv .row .right {
  width: 67%;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  padding-left: 20px;
  box-sizing: border-box;
  padding-bottom: 20px;
}
article#regPayment .ticketDiv .row .right.column {
  flex-direction: column;
}
article#regPayment .ticketDiv .row .right.column small.up {
  display: block;
  padding-left: 34px;
  box-sizing: border-box;
  color: #d4d4d4;
  position: relative;
}
article#regPayment .ticketDiv .row .right.column small.up::after {
  width: 100px;
  content: url(./../img/blue_dc_long.png);
  display: block;
  position: absolute;
  top: 50%;
  left: 34px;
}
article#regPayment .ticketDiv .row .right.column .flexText {
  margin-bottom: 20px;
}
article#regPayment .ticketDiv .row .right .flexText {
  display: flex;
  align-items: center;
}
article#regPayment .ticketDiv .row .right .flexText small.vertical {
  display: block;
  position: relative;
  color: #d4d4d4;
}
article#regPayment .ticketDiv .row .right .flexText small.vertical::after {
  content: url(./../img/blue_dc.png);
  display: block;
  position: absolute;
  top: -25%;
  left: 0;
}
article#regPayment .ticketDiv .row .right p {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.6px;
  text-align: left;
  color: #202020;
}
article#regPayment .ticketDiv .row .right p.big {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.8px;
}
article#regPayment .ticketDiv .row .right span.check {
  width: 12px;
  height: 16px;
  position: relative;
  margin-right: 24px;
}
article#regPayment .ticketDiv .row .right span.check::before {
  content: "";
  width: 8px;
  height: 2px;
  display: block;
  background-color: #202020;
  position: absolute;
  top: 10px;
  left: 5px;
  transform: rotate(40deg);
}
article#regPayment .ticketDiv .row .right span.check::after {
  content: "";
  width: 11px;
  height: 2px;
  display: block;
  background-color: #202020;
  position: absolute;
  top: 8px;
  left: 9.7px;
  transform: rotate(-45deg);
}
article#regPayment .ticketDiv .row .right span.check.blue {
  width: 20px;
  height: 20px;
  border: 2px solid #296dea;
  border-radius: 20px;
  margin-right: 12px;
}
article#regPayment .ticketDiv .row .right span.check.blue::before {
  width: 10px;
  height: 2px;
  top: 11px;
  left: 0px;
  background-color: #296dea;
}
article#regPayment .ticketDiv .row .right span.check.blue::after {
  width: 15px;
  height: 2px;
  top: 9px;
  left: 5.5px;
  background-color: #296dea;
}
article#regPayment .accordion {
  margin-bottom: 40px;
}
article#regPayment button {
  width: 100%;
  outline: none;
  border: 1px solid #f5f5f5;
  padding: 15px 0;
  font-size: 1rem;
  cursor: pointer;
}
article#regPayment button.black {
  margin-top: 4px;
  background-color: #202020;
  color: white;
}
article#regPayment button.black small {
  margin-left: 2px;
  font-size: 10px;
}
article#regPayment button.blue {
  margin: 40px 0;
  background-color: #296dea;
  color: white;
}
article#regPayment span.notification {
  font-size: 12px;
}
article#regPayment span.notification.err {
  color: #f31616;
}
article#regPayment span.notification.done {
  color: #3d78ff;
}