@import "./common", "./modal";

article#top{
    .title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button#serviceVid{
            float: right;
        }
    }
}