@import "./common", "./modal";

article#top{
    .title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button#serviceVid{
            padding: 11px 25px 12px;
            background-color: #3d78ff;
            font-size: 12px;
            letter-spacing: -0.84px;
            text-align: center;
            color: #fff;
        }
    }
}