@import "./common", "./modal";

article#top {
    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span.line {
            width: 45%;
            height: 1px;
            background-color: #e2e2e2;
            display: block;
        }

        .checkCircle {
            width: 40px;
            height: 40px;
            border: 2px solid #3d78ff;
            border-radius: 40px;
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 18px;
                height: 2px;
                background-color: $blue;
                top: 22px;
                left: .5px;
                transform: rotate(45deg);
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 28px;
                height: 2px;
                background-color: $blue;
                top: 19px;
                left: 11px;
                transform: rotate(-45deg);
            }
        }
    }

    h2 {
        font-size: 26px;
        font-weight: bold;
        letter-spacing: -1.3px;
        text-align: center;
        color: #2b2b2b;
    }
}

article#content{
    margin-top: 80px;
    display: flex;
    
}