@import "./common", "./modal";

article#payInfo{
    margin-top: 80px;
    h2{
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -0.65px;
        text-align: left;
        color: #202020;
    }
    .flexBox{
        margin-top: 10px;
        display: flex;
        align-items: center;

        .left{
            flex: 1;
            border: 1px solid #e2e2e2;

            .top{
                padding: 18px 0;
                background-color: #f9f9f9;
                h5{
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: -0.8px;
                    text-align: center;
                    color: #202020;
                }
            }
            .center{
                width: 100%;
                margin: 0 auto;
                padding: 32px 10% 21px 10%;
                border-top: 1px solid #e2e2e2;
                border-bottom: 1px solid #e2e2e2;
                box-sizing: border-box;

                h5{
                    font-size: 24px;
                    font-weight: 500;
                    letter-spacing: -1.2px;
                    text-align: center;
                    color: #3d78ff;
                }

                .flex{
                    margin-top: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .leftArrow{
                        img{
                            transform: rotateY(180deg);
                            filter: grayscale(1) brightness(150%);
                        }
                        p{
                            font-size: 10px;
                            letter-spacing: -0.5px;
                            text-align: center;
                            color: #979797;
                        }
                    }
                    .mid{
                        h4{
                            font-size: 30px;
                            font-weight: bold;
                            letter-spacing: -1.5px;
                            text-align: center;
                            color: #202020;
                        }
                        small{
                            display: block;
                            text-align: center;
                        }
                    }
                    .rightArrow{
                        img{
                            filter: grayscale(1) brightness(150%);
                        }
                        p{
                            font-size: 10px;
                            letter-spacing: -0.5px;
                            text-align: center;
                            color: #979797;
                        }
                    }
                }

                span{
                    font-size: 12px;
                    letter-spacing: -0.6px;
                    text-align: center;
                    color: #959595;
                    margin-top: 24px;
                    display: block;
                }
            }

            .bottom{
                padding: 70px 0;
                box-sizing: border-box;

                .row{
                    padding-left: 30px;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;

                    span.check {
                        width: 16px;
                        height: 10px;
                        position: relative;
                        margin-right: 8px;

                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 8px;
                            height: 2px;
                            background-color: $blue;
                            top: 5.5px;
                            left: 2.8px;
                            transform: rotate(45deg);
                        }

                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 16px;
                            height: 2px;
                            background-color: $blue;
                            top: 2.9px;
                            left: 6px;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }

        .right{
            flex: 2;
            border: 1px solid #e2e2e2;
        }
    }
}