@import "./common", "./modal";

article#selfVerification {
    margin-top: 80px;

    h2 {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -0.65px;
        color: #202020;
    }

    .formBg {
        width: 100%;
        height: auto;
        margin-top: 10px;
        padding: 40px 0 20px 0;
        background-color: #f9f9f9;

        .formDiv {
            width: 50%;
            height: auto;
            margin: 0 auto;

            p {
                display: inline;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: -0.98px;
                color: #474246;
                position: relative;

                &.essential::after {
                    content: '*';
                    position: absolute;
                    top: 0px;
                    right: -7px;
                    display: block;
                }
            }

            .row,
            .flexRow {
                position: relative;
                margin-top: 5px;
                margin-bottom: 40px;

                span.underMsg {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1.67;
                    letter-spacing: -0.84px;
                    text-align: left;
                    color: #bbb;
                    position: absolute;
                    top: 100%;
                    left: 4px;

                    b {
                        font-weight: 500;
                        color: #3d78ff;
                    }

                    &.red {
                        color: #ff7070;
                        display: none;
                    }
                }

                span.errMsg {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 1.67;
                    letter-spacing: -0.84px;
                    text-align: left;
                    color: #ff7070;
                    position: absolute;
                    top: calc(100% + 20px);
                    left: 4px;
                    display: none;
                }
            }

            .row {
                margin-bottom: 60px;

                input {
                    width: 100%;
                    outline: none;
                    border: 1px solid #e2e2e2;
                    padding: 12px 0;
                    text-indent: 10px;
                    font-size: 12px;
                }
            }

            .flexRow {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .left {
                    width: calc(100% - 120px);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    input {
                        width: 31%;
                        outline: none;
                        border: 1px solid #e2e2e2;
                        padding: 12px 0;
                        text-indent: 10px;
                        color: #bbb;
                        font-size: 12px;

                        &:disabled {
                            background-color: #d6d6d6;
                        }

                        &#verificationCode {
                            width: 100%;
                        }

                        &:focus {
                            outline: 2px solid black;
                        }
                    }

                    span {
                        color: #bbb;
                        font-size: 12px;
                        text-align: center;
                    }

                    select {
                        width: 31%;
                        outline: none;
                        border: 1px solid #e2e2e2;
                        padding: 10px 0;
                        text-indent: 10px;
                        font-size: 12px;
                        letter-spacing: -0.84px;
                        color: #bbb;

                        &:focus {
                            outline: 2px solid black;
                        }
                    }
                }

                button {
                    width: 100px;
                    outline: none;
                    border: 1px solid #e6e6e6;
                    padding: 12px 0;
                    background-color: #e6e6e6;
                    color: #ababab;
                    font-size: 12px;
                    letter-spacing: -0.84px;
                    cursor: pointer;

                    &.blue {
                        background-color: #3d78ff;
                        color: white;
                    }
                }
            }
        }
    }
}

article#termsAgree {
    margin-top: 80px;
    margin-bottom: 200px;

    h2 {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -0.65px;
        color: #202020;
    }

    .formBg {
        width: 100%;
        height: auto;
        margin-top: 10px;
        padding: 40px 0;
        background-color: #f9f9f9;
        border: 1px solid #f1f1f1;

        .formDiv {
            width: 50%;
            height: auto;
            margin: 0 auto;
            border: 1px solid #e8e8e8;

            .checkAll {
                display: flex;
                align-items: center;
                padding: 12px 18px;
                box-sizing: border-box;
                border-bottom: 1px solid #e8e8e8;

                p {
                    font-size: 14px;
                    letter-spacing: -0.98px;
                    color: #202020;
                    margin-left: 12px;
                    margin-bottom: 1px;
                    cursor: pointer;
                }
            }

            .grayBox {
                padding: 20px 18px;
                box-sizing: border-box;
                background-color: #eeeeee;

                pre {
                    white-space: pre-line;
                    font-size: 12px;
                    line-height: 1.67;
                    letter-spacing: -0.84px;
                    color: #7d7d7d;
                }
            }

            .panel.marketing {
                .paddingBox {
                    pre {
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 1.67;
                        letter-spacing: -0.84px;
                        color: #7d7d7d;
                    }

                    img {
                        width: 100%;
                        margin-top: 18px;
                    }
                }
            }

            .accordion {
                .title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 4px 18px;
                    box-sizing: border-box;
                    border-bottom: 1px solid #e8e8e8;

                    .left {
                        display: flex;
                        align-items: center;

                        p {
                            font-size: 14px;
                            letter-spacing: -0.98px;
                            margin-left: 12px;
                            margin-bottom: 1px;
                            color: #202020;
                            cursor: pointer;

                            b {
                                font-weight: 500;
                                color: #3d78ff;
                            }
                        }
                    }

                    span {
                        padding: 10px;
                        cursor: pointer;

                        img {
                            transition: all .2s;
                            width: 15px;
                        }
                    }
                }

                .panel {
                    // margin-top: 10px;
                    // margin-bottom: 15px;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                    background-color: #eeeeee;
                    padding: 0 10px;
                    box-sizing: border-box;
                    overflow-y: scroll;

                    &::-webkit-scrollbar {
                        width: 12px;
                        height: 12px;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: #fff;
                        border: 1px solid #e2e2e2;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #f2f2f2;
                        border: 1px solid #e2e2e2;
                    }

                    pre {
                        width: 100%;
                        box-sizing: border-box;
                        white-space: pre-line;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 1.67;
                        letter-spacing: -0.84px;
                        color: #7d7d7d;
                    }
                }

                .checkBoxRow {
                    padding: 10px 0;
                    margin-left: 50px;

                    .checkBoxDiv {
                        margin-right: 15px;

                        label {
                            font-size: 12px;
                        }
                    }
                }

                &.active {
                    .title {
                        span {
                            img {
                                transform: rotate(90deg);
                            }
                        }
                    }

                    .panel {
                        .paddingBox {
                            padding: 18px 16px;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    article#selfVerification {
        .formBg {
            padding: 24px 8px;
            box-sizing: border-box;
            .formDiv {
                width: 100%;

                p {
                    font-size: 12px;
                }

                .row,
                .flexRow {

                    span.underMsg {
                        font-size: 10px;
                    }

                    span.errMsg {
                        font-size: 10px;
                        top: -20px;
                        right: 0;
                        left: auto;
                    }
                }

                .row {
                    margin-bottom: 40px;
                    input {
                        font-size: 10px;
                    }
                }

                .flexRow {
                    .left {
                        input {
                            font-size: 10px;
                        }

                        span {
                            font-size: 10px;
                        }

                        select {
                            font-size: 12px;
                        }
                    }

                    button {
                        font-size: 10px;
                    }
                }

                .flexRow.emailRow {
                    flex-wrap: wrap;
                    justify-content: right;

                    .left {
                        width: 100%;

                        input,
                        select {
                            min-width: 100px;
                        }
                    }

                    button {
                        width: 100px;

                        &#reqVerificationCode{
                            margin-top: 8px;
                        }
                    }

                }
            }
        }
    }

    article#termsAgree {
        margin-top: 60px;
        margin-bottom: 60px;
        .formBg {
            .formDiv {
                width: 100%;
            }
        }
    }
}