@import "./common", "./modal";

article#bizInfo{
    margin-top: 80px;

    h2{
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -0.65px;
        color: #202020;

        small{
            font-size: 14px;
            font-weight: 500;
            letter-spacing: -0.98px;
            text-align: left;
            color: #dedede;
            margin-left: 4px;
        }
    }

    .bg{
        width: 100%;
        padding: 40px 0;
        background-color: #f9f9f9;

        p {
            display: inline;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: -0.98px;
            color: #474246;
            position: relative;

            &.essential::after {
                content: '*';
                position: absolute;
                top: 0px;
                right: -7px;
                display: block;
            }
        }
    }
}