@import "./common", "./modal";

article#top{
    .flex{
        display: flex;
        align-items: center;
        justify-content: space-between;

        span.line{
            width: 45%;
            height: 1px;
            background-color: #e2e2e2;
            display: block;
        }
    }
}